@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  background-image: url('./imgs/backg2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: #d1d1d1;
}

.hr{
  color: black;
  width: 95%;
  max-width: 1000px;
  margin: 20px auto;
}

.hr2{
  color: #ffffff;
  width: 95%;
  max-width: 1000px;
  margin: 20px auto;
}


.header{
  display: flex;
  width: 95%;
  max-width: 1000px;
  background-image: url('./imgs/background2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin: 5px auto;
  align-items: center;
  border-radius: 3%;
}

nav{
  align-items: center;
  margin-top: 20px;
  display: flex;
  width: 90%;
  margin: 20px auto;
  justify-content: end;
  margin-right: 250px;
}

.navlink{ 
  margin: 0;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  margin-left: 50px;
  margin-right: 50px;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  font-style: bold;
  font-weight: 500;
}

.navlink:hover{
  background-color: #211436;
  border-radius: 30px;
  color: #a792c5;
}

.logo{
  display: flex;
}

.logoimg{
  width: 40px;
  height: 40px;
  margin: 5px;
  margin-left: 100px;
  justify-content: start;
  border-radius: 50%;
}

.p{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0 auto;
  color: #211436;
}

.p1{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: auto;
  margin-left: 25px;
  color: #a792c5;
  margin-left: 25px;
}

.p2{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: bold;
  margin: auto;
  margin-left: 25px;
  color: #211436;
}

p{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #a792c5;
}

.contenedorpadre{
  background-image: url('./imgs/background2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: #d1d1d1;
}

.conthijo{
  background-color: rgb(221, 221, 221);
  width: 95%;
  max-width: 1000px;
  margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.conthijo2{
  background-image: url('./imgs/backg.avif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  width: 95%;
  max-width: 1000px;
  margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.contlabel{
  background-color: #211436;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  display: flex;
  margin: auto;
  background-color: whitesmoke;
  width: 100%;
  max-width: 1000px;
  height: 500px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contlabel2{
  display: flex;
  margin: auto;
  margin-top: 10px;
  background-color: rgb(221, 221, 221);
  width: 100%;
  max-width: 1000px;
  height: 500px;
  align-items: left;
  justify-content: safe;
  flex-direction: column;
}

.contBox{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card{
  border-radius: 10px;
  margin-left: 25px;
  min-height: 200px;
  font-weight: bold;
  padding: 20px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  width: calc(33.33% - 40px);
}

.card .textos{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.textin{
  margin: 25px;
  background-color: silver;
  font-size: 20px;
}

.botin{
  height: 25px;
  width: 25px;
  background-color: #211436;
  border-radius: 30%;
  border-radius: 20%;
  text-decoration: none;
}

.botin:hover{
  background-image: url('./imgs/background2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.logovnetx{
  border-radius: 0%;
  width: 100px;
  height: 40px;
}

.hijo{
  display: flex;
  margin: 0 auto;
  background-color: aqua;
  width: 95%;
  margin: 10px;
}

.mapsetings{
  width: 85%;
  height: 90%;
}

.mapcontai{
 background-color: rgba(225, 219, 219, 0.637);
}

a {
  text-decoration: none;
}

.h4{
  display: flex;
  margin-left: 25px;
  margin-top: 10px;
  align-items: left;
  justify-content: safe;
}
