.quicksand{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


*{
  margin: 0;
  padding: 0;
  
}
.hr{
  color: black;
  width: 95%;
  max-width: 1000px;
  margin: 20px auto;
}




.header{
 
  display: flex;
  width: 95%;
  max-width: 1000px;
  background-color: white;
  margin: 5px auto;
  align-items: center;
  border-radius: 3%;
  
  
}
nav{
  align-items: center;
  margin-top: 20px;
  display: flex;
  width: 90%;
  margin: 20px auto;
  justify-content: end;
  margin-right: 250px;

}

.navlink{
  
  margin: 0;
  padding: 10px;
  text-decoration: none;
  color: black;
  margin-left: 50px;
  margin-right: 50px;
  font-family:"Poppins",sans-serif;
  font-size: 10px;
  font-weight: 500;
}

.navlink:hover{
  background-color: black;
  color: white;
  border-radius: 30px;
}


.logo{
  display: flex;
}
.logoimg{
  width: 75px;
  height: 75px;
  margin: 2px;
  margin-left: 100px;
  justify-content: start;
}


.p{
  font-family: 'Quicksand';
  margin: 0 auto;
  background-color: rgba(225, 219, 219, 0.637);
  
}


.conthijo{
  background-color: rgba(225, 219, 219, 0.637);
  width: 95%;
  max-width: 1000px;
  margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  
}



.contlabel{
  display: flex;
  margin: auto;
  background-color: whitesmoke;
  width: 100%;
  max-width: 1000px;
  height: 500px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.textin{
  margin: 25px;
  background-color: silver;
  font-size: 20px;
}

.botin{
  height: 28px;
  width: 28px;
  background-color: black;
  border-radius: 30%;
  border-radius: 20%;
  text-decoration: none;
  text-align: center;
}
.botin:hover{
  background-color: white;
}

.logovnetx{
  border-radius: 0%;
  width: 100px;
  height: 40px;
}

.hijo{
  display: flex;
  margin: 0 auto;
  background-color: aqua;
  width: 95%;
  margin: 10px;
}


.mapsetings{
  width: 85%;
  height: 90%;
}

.mapcontai{
 background-color: rgba(225, 219, 219, 0.637);
}